<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thundersoft.mi.example">

    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".utils.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.TextViewScrollActivity"></activity>
        <activity android:name=".activity.ScrollTextViewActivity" />
        <activity android:name=".activity.NotificationActivity" />
        <activity android:name=".activity.ContentResolverPhoneActivity" />
        <activity android:name=".activity.DatabaseActivity" />
        <activity android:name=".activity.NewsActivity" />
        <activity android:name=".activity.FragmentFullInActivity" />
        <activity android:name=".activity.FragmentActivity" />
        <activity android:name=".activity.FeaturesActivity" />
        <activity android:name=".activity.ProgressDialogActivity" />
        <activity android:name=".activity.AlertDialogActivity" />
        <activity android:name=".activity.ProgressBarActivity" />
        <activity android:name=".activity.SubMenuActivity" />
        <activity android:name=".activity.ContextMenuActivity" />
        <activity android:name=".activity.MenuActivity" />
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.BasicViewActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MyListViewActivity" />
        <activity android:name=".activity.ComponentsActivity" />
        <activity android:name=".activity.MultiListViewActivity" />
        <activity android:name=".activity.DynamicBroadcastActivity" />

        <provider
            android:name=".database.ExampleProvider"
            android:authorities="com.thundersoft.mi.example.provider" />

        <receiver android:name=".activity.DynamicBroadcastActivity$DynamicBroadcastReceiver" />
    </application>

</manifest>